a.navbar-brand{
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(64, 151, 137);
    font-family: 'Times New Roman', Times, serif;
    font-size: 25px;
}

h3{
    color: rgb(64, 151, 137);
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 15px;
}

.img-thumbnail{
    padding:10px;
    border: none;
}

p{
   font-family: Arial, Helvetica, sans-serif;
   font-size: large;
   padding:10px;
}

body{
    background-color: rgb(201, 195, 195);
}

.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}


.pic{
    border: 3px solid rgb(64, 151, 137);
}

.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.nav-item.dropdown.show {
    background-color: rgb(201, 195, 195);
}

.dropdown-menu {
    margin: 0;
}

.content {
    padding-top: 50px;
    padding-bottom: 80px;
    overflow: hidden;
}

.content.bg-white {
    margin-top: 15px;
}


@media(max-width 750px){
    .navbar.bg-light{
        background-color: rgb(64, 151, 137)!important;    
    }

    .navbar-collapse{
        background-color: #c6cace;
    }

    .navbar{
        padding:inherit;
    }
    
}